<div class="container">
  <div class="row">
    <div class="col">
      <h3>About</h3>

      <p>
        Hello. Thank you for your attention to my App. It's just a simple editor for typography experiments.
        <br> You can save your text locally and copy to clipboard by one click. I plane to improve functionality with
        <br> configuration page and add some new effects but now my inspiration is exhausted.
        <br>
        <br> Please contact me if you have any questions or comments by gmail: skvortcof
        <br>
        <br>
      </p>

      <p>ver. 0.1: I made this app to prepare my new story for blog.</p>
      <p>ver. 0.2: Some hours after I expanded functionality to edit my new verse when I needed special effects to attract attention
        and deployed this app to Heroku.</p>
    </div>
  </div>
</div>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Todo</h3>
      <br>
      <pre>
Effects:
☐ invert tabs for poems
☐ chaotic text (Sense Remover)
☐ remove random chars
☐ H!PSTΣR!FY effect (http://alexeisavca.github.io/hipsterify/)
☐ WI†CH H⏀US∃
☐ additional unicode effects
✔ random capital letters
✔ gothic text
✔ gsm/game effect for cyrillic text
✔ leeter effect (https://www.urbandictionary.com/define.php?term=1337)
✔ replace dash and ellipsis
✔ zalgo
✔ mirror
✔ flip
✔ transliterate
✔ line breaks
✔ line length

System:
☐ effects for selected area only
☐ ignoring tags for some effects
☐ Configuration page
✔ HTML / CSS preview (maybe new page or tab)
✔ Save / Load (https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API)
✔ Undo / Redo
✔ HTML highlighting
✔ Markdown highlighting


Frozen tasks:
☐ lorem ipsum
☐ css3 effects (after configuration page)
☐ remove preset symbols
☐ custom alphabet
☐ Examples
☐ Help page
☐ Examples page
☐ hide marked text
☐ System: check grammatical errors
☐ Config: colored zalgo
☐ Config: decoration by wild alphabet
☐ typograpy correct line wrap length ( division of a 1 length word) + balanced text
</pre>
    </div>
  </div>
</div>
